<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutStyle.css') }}"
    />
  </head>
  <body>
    <div class="row">
      <a href="{{url_for('home_page')}}" class="back-link">Back</a>

      <span class="highlight heading">About Us</span>
    </div>

    <div class="row">
      <p>
        &nbsp;&nbsp; Thank you for visiting XLR8. This website aims at helping
        ease the difficulties when it comes to organising basketball games. All
        the features it offers enable a smooth conduction of the games.
      </p>
    </div>
  </body>
</html>
